@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Raleway:wght@300;400;600;800&display=swap');

body {
	color: var(--color-black);
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arvo', serif;
}

// title style
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 37.5rem;
	padding-top: $box-spacing-m;
	padding-bottom: calc($box-spacing-m / 2);
	margin: 0 auto;
	text-align: center;
	&__sub {
		color: $color-primary;
		font-size: $font-size-s3;
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}
	&__main {
		padding: calc($box-spacing-s / 2);
		font-family: $font-serif;
		font-size: $font-size-l1;
		text-transform: capitalize;
	}
	&__line {
		@include center(column);
		&::before {
			display: block;
			width: 0.8rem;
			height: 2px;
			background-color: #000;
			content: '';
		}
		&::after {
			display: block;
			width: 1.6rem;
			height: 2px;
			margin-top: 2px;
			margin-bottom: $box-spacing-s;
			background-color: #000;
			content: '';
		}
	}
	&__desc {
		width: 90%;
		color: $color-grey;
		line-height: 1.8em;
	}
}

// more button
.moreBtn {
	display: inline-block;
	padding: 1.4em 3em;
	border: 2px solid $color-white;
	border-radius: 2em;
	font-size: $font-size-s3;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.5s;
	&-b {
		&:hover {
			color: $color-white;
			border-color: $color-primary;
			background-color: $color-primary;
		}
	}
	&-bk {
		&:hover {
			color: $color-white;
			border-color: #000;
			background-color: #000;
		}
	}
}

// slide
.slider {
	@include center(column);
	overflow: hidden;
	max-width: $max-width;
	margin: 0 auto;
	&__slideContainer {
		display: flex;
		width: 100%;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-webkit-user-drag: none;
		transform: translateX(-100%);
	}
	&__slide {
		@include center(column);
		min-width: 100%;
	}
}

// slide pagenation
.pagenation {
	display: flex;
	align-items: flex-end;
	height: 1rem;
	margin-top: $box-spacing-s;
	&__page {
		display: block;
		width: 0.5rem;
		height: 0.5rem;
		margin: 0 0.2rem;
		border-radius: 50%;
		background-color: $color-grey-dark;
		cursor: pointer;
		transition: all 0.5s;
		&.active {
			height: 0.8rem;
			border-radius: 1rem;
			background-color: $color-primary;
		}
	}
}