@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Raleway:wght@300;400;600;800&display=swap');
@import "../styles/mixins.scss";

$max-width: 1200px;
$fixed-width: 900px;
$width-xs: 500px;
$width-s: 768px;
$width-m: 992px;
$width-l: 1200px;

$box-spacing-s: 1em;
$box-spacing-m: 5.375em;
// $box-spacing-l: 6.6em;

$font-serif: 'Arvo', serif;
$font-sans: 'Raleway', sans-serif;

$font-size-s4: 0.625rem;
$font-size-s3: 0.75em;
$font-size-s2: 0.875rem;
$font-size-s1: 1rem;
$font-size-m: 1.125rem;
$font-size-l1: 1.875rem;
$font-size-l2: 3rem;
$font-size-l3: 4rem;

$color-primary: #73B6D1;
$color-white: #F9F9F9;
$color-black: #282828;
$color-grey: #A5A5A5;
$color-grey-light: #CECECE;
$color-grey-dark: #7D7D7D;
$color-grey-border: #47474740;

body {
	color: var(--color-black);
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arvo', serif;
}

//title style
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 37.5rem;
	padding-top: $box-spacing-m;
	padding-bottom: calc($box-spacing-m / 2);
	margin: 0 auto;
	text-align: center;
	&__sub {
		color: $color-primary;
		font-size: $font-size-s3;
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}
	&__main {
		margin: calc($box-spacing-s / 2) 0;
		font-family: $font-serif;
		font-size: $font-size-l1;
		text-transform: capitalize;
	}
	&__line {
		@include center(column);
		&::before {
			display: block;
			width: 0.8rem;
			height: 2px;
			background-color: #000;
			content: '';
		}
		&::after {
			display: block;
			width: 1.6rem;
			height: 2px;
			margin-top: 2px;
			margin-bottom: $box-spacing-s;
			background-color: #000;
			content: '';
		}
	}
	&__desc {
		width: 90%;
		color: $color-grey;
		line-height: 1.8em;
	}
}

//more button
.moreBtn {
	display: inline-block;
	padding: 1.4em 3em;
	border: 2px solid $color-white;
	border-radius: 2em;
	font-size: $font-size-s3;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.5s;
	&-b {
		&:hover {
			color: $color-white;
			border-color: $color-primary;
			background-color: $color-primary;
		}
	}
	&-bk {
		&:hover {
			color: $color-white;
			border-color: #000;
			background-color: #000;
		}
	}
}

//slide
.slider {
	@include center(column);
	overflow: hidden;
	&__slideContainer {
		display: flex;
		width: 100%;
	}
	&__slide {
		@include center(column);
		min-width: 100%;
	}
}

//slide pagenation
.pagenation {
	display: flex;
	align-items: flex-end;
	margin-top: $box-spacing-s;
	&__page {
		padding: 0.25rem;
		margin: 0 0.2rem;
		border-radius: 50%;
		background-color: $color-grey-dark;
		cursor: pointer;
		&.active {
			border-radius: 1rem;
			height: 0.8rem;
			background-color: $color-primary;
		}
	}
}