.icon {
	&-facebook::before {
		content: '\f39e';
		font: var(--fa-font-brands);
	}
	&-twitter::before {
		content: '\f099';
		font: var(--fa-font-brands);
	}
	&-instargram::before {
		content: '\f16d';
		font: var(--fa-font-brands);
	}
	&-linkedin::before {
		content: '\f0e1';
		font: var(--fa-font-brands);
	}
	&-rss::before {
		content: '\f09e';
		font: var(--fa-font-solid);
	}
	&-building::before {
		content: '\f1ad';
		font: var(--fa-font-regular);
	}
	&-house::before {
		content: '\e00d';
		font: var(--fa-font-solid);
	}
	&-compass::before {
		content: '\f14e';
		font: var(--fa-font-regular); //solid
	}
	&-box::before {
		content: '\f01c';
		font: var(--fa-font-solid);
	}
	&-team::before {
		content: '\e533';
		font: var(--fa-font-solid);
	}
	&-idea::before {
		content: '\f0eb';
		font: var(--fa-font-solid);
	}
	&-trophy::before {
		content: '\f091';
		font: var(--fa-font-solid);
	}
	&-plus::before {
		content: '\2b';
		font: var(--fa-font-solid);
	}
	&-arrowUp::before {
		content: '\f062';
		font: var(--fa-font-solid);
	}
	&-arrowRight::before {
		content: '\f30b';
		font: var(--fa-font-solid);
	}
	&-search::before {
		content: '\f002';
		font: var(--fa-font-solid);
	}
	&-bars::before {
		content: '\f0c9';
		font: var(--fa-font-solid);
	}
	&-left::before {
		content: '\f053';
		font: var(--fa-font-solid);
	}
	&-right::before {
		content: '\f054';
		font: var(--fa-font-solid);
	}
	&-quote::before {
		content: '\f10d';
		font: var(--fa-font-solid);
	}
} 