$portfolio-margin: 1em * 2;

@media screen and (min-width: $width-s) {
	.hero {
		&__btn {
			display: inline-block;
		}
	}
	.header {
		&__desc {
			width: 100%;
		}
	}
	.hero {
		&__title {
			font-size: $font-size-l2;
		}
		&__text {
			font-size: $font-size-s3;
		}
	}
	.intro {
		&__contents {
			display: flex;
			flex-wrap: wrap;
			max-width: 100%;
		}
		&__item {
			width: 50%;
			padding: 0 $box-spacing-s;
			text-align: left;
		}
		&__subject {
			&::after {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	.create {
		&__header {
			width: 80vw;
			margin: 0 auto;
		}
	}
	.clients {
		&__slide {
			min-width: 33.33%;
		}
	}
	.works {
		&__list {
			flex-direction: row;
		}
	}
	.portfolio {
		&.show {
			width: calc(50% - $portfolio-margin);
			height: calc(60vw - $portfolio-margin);
		}
	}
	.news {
		&__slideContainer {
			transform: translateX(-100%);
		}
		&__slide {
			min-width: 50%;
		}
		&__contents {
			padding: 2em;
		}
		&__img {
			height: calc(55vw / 2);
		}
	}
	.footer {
		&__info {
			@include center(row);
		}
		&__company, &__location {
			width: 45%;
			padding: 0;
			padding-right: $box-spacing-s;
		}
	}
}

@media screen and (min-width: $width-m) {
	.logo > img {
		content: url('../images/icons/logo-wt.png');
	}
	.nav {
		position: absolute;
		top: 0;
		left: 0;
		background-color: transparent;
		color: $color-white;
		z-index: 999;
		&__wide {
			display: flex;
		}
		&__icons {
			display: none;
		}
	}
	.fullNav {
		display: none;
	}
	.hero {
		&__title {
			font-size: $font-size-l3;
		}
		&__text {
			font-size: $font-size-s2;
		}
	} 
	.intro {
		@include fixed-width($fixed-width);
		&__header {
			display: flex;
			flex-direction: row;
		}
		&__title {
			text-align: right;
		}
		&__desc {
			padding-top: ($box-spacing-s * 4);
			margin-left: ($box-spacing-s * 2);
			text-align: left;
		}
		&__contents {
			flex-wrap: nowrap;
		}
	}
	.create {
		background-size: 100% 75%;
		&__container {
			background: linear-gradient(rgba(0, 0, 0, 0.2) 75%, $color-white 75%);
		}
		&__header {
			@include fixed-width($fixed-width);
		}
		&__team {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			@include fixed-width($fixed-width);
		}
		&__item {
			margin: 0 $box-spacing-s;
		}
	}
	.clients {
		&__slide {
			min-width: 25%;
		}
	}
	.portfolio {
		&.show {
			width: calc(33.3333% - $portfolio-margin);
			height: calc(40vw - $portfolio-margin);
			max-height: 480px;
		}
	}
	.provide {
		display: flex;
		justify-content: center;
		align-items: stretch;
	}
	.news {
		&__slideContainer {
			transform: translateX(-66.6666%);
		}
		&__slide {
			min-width: 33.3333%;
		}
		&__contents {
			padding: 2.5em;
		}
		&__img {
			height: 15vw;
			max-height: 200px;
		}
	}
	.build {
		&__container {
			flex-direction: row;
			justify-content: space-between;
			@include fixed-width($fixed-width);
			text-align: left;
		}
	}
	.footer {
		&__container {
			@include fixed-width($fixed-width);
			text-align: left;
		}
		&__info {
			justify-content: flex-start;
		}
		&__company, &__location {
			width: 25%;
		}
	}
}

@media screen and (min-width: $width-l) {
	.intro, .create__team, .works, .build__container, .footer__container {
		@include fixed-width($max-width);
	}
	.provide {
		&__item {
			padding: ($box-spacing-s * 6);
		}
		&__title {
			width: 100%;
		}
	}
	.clients {
		&__slide {
			min-width: 20%;
		}
	}
}